@media (max-width: 1044px) {
   .greeting__info {
      padding: 20px 50px 0px 0px;
   }

   .greeting {
      padding: 90px 0px 70px 0px;
   }

   .greeting__row {
      padding: 0px 15px;
   }

   .recent-posts {
      padding: 25px 10px 13px 10px;
   }

   .featured-works {
      padding: 25px 18px 80px 18px;
   }
}

@media (max-width: 767.98px) {
   .title {
      font-size: 32px;
   }

   .greeting__title {
      margin: 0px 0px 20px 0px;
   }

   .greeting__text {
      margin: 0px 0px 25px 0px;
      padding: 0px 25px;
   }

   .greeting {
      padding: 30px 0px 60px 0px;
   }

   .greeting__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px 15px;
   }

   .greeting__info {
      text-align: center;
      padding: 40px 0px 0px 0px;
   }

   .greeting__avatar {
      width: 170px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
      flex: 0 0 170px;
   }

   .greeting__avatar img {
      width: 170px;
      height: 170px;
   }

   .recent-posts__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .tite-posts {
      font-size: 18px;
   }

   .recent-post__title {
      margin: 0px 0px 12px 0px;
      font-size: 22px;
      line-height: 136.36364%;
   }

   .recent-post__info {
      font-size: 16px;
      line-height: 143.75%;
   }

   .works__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 125%;
   }
}

@media (max-width: 630px) {
   .works__item {
      display: block;
      min-width: 270px;
   }

   .works__image {
      display: block;
      padding: 0px 0px 60% 0px;
      margin: 0px 0px 17px 0px;
   }

   .works__year {
      font-size: 16px;
   }
}

@media (max-width: 479.98px) {
   .greeting__text {
      padding: 0px 0px;
   }

   .recent-posts__view-all {
      display: none;
   }

   .tite-posts {
      text-align: center;
   }
}
